/* meu css personalizadp*/
.higher-diplay {
  min-height: 350px;
}

.higher-diplay2 {
  min-height: 80px;
}

footer {
  text-align: center;
  font-size: 12px;
}

#descricaoSocial,
#descricaoCasual {
  display: none;
}

#tituloSocial,
#tituloCasual {
  cursor: pointer;
}

.carrossel {
  width: 300px;
}
